.div{
    margin-top: 2rem;

}
.main{
    
     background-color: rgba(120, 125, 125, 0.073);
     width:35rem;
     height:14rem;
}
.btn{

    padding-left: 5rem;
}
.hg{
    padding-left: 5rem;
}
.bt{
    /* padding-top: 1rem; */
}